body {
    background-image: url("GeD.gif");
    background-size: 100% ;
    background-blend-mode:100%;
    
}


p { 
    
   
}


div {
   
    font-family: 	Copperplate;
    font-size: large;

    color:whitesmoke
} 
h1 {

    color:whitesmoke
}

h2 {
color:white;
}
strong {

    color:rgb(122, 87, 87)
}

h6 {
color: whitesmoke;
}